
CS-1632-Software-Quality-Assurance/Java Assessment/.idea/.name
CS-1632-Software-Quality-Assurance/Java Assessment/.idea/misc.xml
CS-1632-Software-Quality-Assurance/Java Assessment/.idea/modules.xml
CS-1632-Software-Quality-Assurance/Java Assessment/.idea/vcs.xml
CS-1632-Software-Quality-Assurance/Java Assessment/.idea/workspace.xml
CS-1632-Software-Quality-Assurance/Java Assessment/CS1632_JavaAssessment.iml
CS-1632-Software-Quality-Assurance/Exercise 2/.classpath
CS-1632-Software-Quality-Assurance/Exercise 2/.project
