# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documents- HD\Github\University_Projects\CS-1632-Software-Quality-Assurance\Deliverables\Deliverable 5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
