Project 3/.idea/misc.xml
Project 3/.idea/modules.xml
Project 3/.idea/vcs.xml
Project 3/.idea/workspace.xml
Project 3/out/production/Project 3/Page.class
Project 3/out/production/Project 3/SCA.class
Project 3/out/production/Project 3/vmsim.class
Project 3/Project 3.iml
Project 3/.idea/description.html
Project 3/.idea/encodings.xml
Project 3/.idea/misc.xml
Project 3/.idea/modules.xml
Project 3/.idea/project-template.xml
Project 3/.idea/uiDesigner.xml
Project 3/.idea/vcs.xml
Project 3/.idea/workspace.xml
Project 3/out/production/Project 3/vm.class
Project 3/Project 3.iml
Project 3/out/production/Project 3/LRU.class
Project 3/out/production/Project 3/META-INF/Project 3.kotlin_module
Project 3/out/production/Project 3/SCA.class
Project 3/out/production/Project 3/SCA.class
Project 3/out/production/Project 3/vmsim.class
Project 3/out/production/Project 3/OPT.class
Project 3/out/production/Project 3/Page.class
