
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/rec02-solomonheisey.iml
.idea/vcs.xml
.idea/workspace.xml
.ipynb_checkpoints/rec02-checkpoint.ipynb
